@import "tailwindcss";

@theme {
  --color-theme-orange: hsl(25, 97%, 53%);
  --color-theme-white: hsl(0, 0%, 100%);
  --color-theme-light-gray: hsl(217, 12%, 63%);
  --color-theme-dark-blue: hsl(213, 19%, 18%);
  --color-theme-very-dark-blue: hsl(216, 12%, 8%);

  --font-overpass: "Overpass", "sans-serif";
}
