---
import MainLayout from "@/layouts/MainLayout.astro";
import RatingsCard from "@/components/RatingsCard.astro";
import ThankYouCard from "@/components/ThankYouCard.astro";
---

<MainLayout title="Frontend Mentor | Interactive Rating Component">
  <main class="flex h-screen items-center justify-center px-6">
    <div id="ratings-card">
      <RatingsCard />
    </div>
    <div aria-hidden="true" class="hidden" id="thank-you-card">
      <ThankYouCard />
    </div>
  </main>
</MainLayout>

<script>
  document.addEventListener("astro:page-load", () => {
    document.addEventListener("rating-submitted", () => {
      const ratingsCard = document.getElementById("ratings-card");
      const thankYouCard = document.getElementById("thank-you-card");

      if (ratingsCard && thankYouCard) {
        ratingsCard.classList.add("hidden");
        ratingsCard.setAttribute("aria-inert", "true");
        thankYouCard.classList.remove("hidden");
        thankYouCard.setAttribute("aria-hidden", "false");
      }
    });
  });
</script>
