---
import MainLayout from "@/layouts/MainLayout.astro";
import RatingsCard from "@/components/RatingsCard.astro";
import ThankYouCard from "@/components/ThankYouCard.astro";
---

<MainLayout title="Frontend Mentor | Interactive Rating Component">
  <main class="flex h-screen items-center justify-center px-6">
    <div>
      <RatingsCard />
    </div>
    <div class="hidden">
      <ThankYouCard />
    </div>
  </main>
</MainLayout>
