<div
  class="from-theme-dark-blue to-theme-dark-blue/50 flex max-w-84 flex-col items-center rounded-2xl bg-gradient-to-b p-8"
  id="card"
>
  <img src="/illustration-thank-you.svg" alt="Thank you" class="mb-6 h-25" />
  <div class="bg-theme-light-gray/10 mb-8 rounded-full px-4 pt-2 pb-1 text-sm text-[#c77f4c]">
    You selected <span id="rating"></span> out of 5
  </div>
  <h1 class="mb-3 text-2xl font-bold text-white">Thank you!</h1>
  <p class="text-theme-light-gray text-center text-sm leading-5.5">
    We appreciate you taking the time to give a rating. If you ever need more support, don't
    hesitate to get in touch!
  </p>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    document.addEventListener("rating-submitted", (event) => {
      const ratingElement = document.getElementById("rating") as HTMLSpanElement;
      const rating = (event as CustomEvent).detail.rating;
      if (rating) {
        ratingElement.innerHTML = rating;
      }
    });
  });
</script>
